<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>    
     
    <properties resource="configuration.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            
           
            
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
            
            
        </environment>
    </environments>    
    <mappers>
        <mapper resource="data/MapperUsuarios.xml"/>
        <mapper resource="data/MapperArticulos.xml"/>
        <mapper resource="data/MapperCategorias.xml"/>
        <mapper resource="data/MapperPedidos.xml"/>
        <mapper resource="data/MapperContabilidad.xml"/>
        <mapper resource="data/MapperAccounts.xml"/>
        <mapper resource="data/MapperTipoAbonos.xml"/>
        <mapper resource="data/MapperAbonos.xml"/>
        <mapper resource="data/MapperDatosGenerales.xml"/>
        <mapper resource="data/MapperCompras.xml"/>
        <mapper resource="data/providers/MapperProveedores.xml"/>
        <mapper resource="data/providers/MapperOrdenProveedor.xml"/>
        <mapper resource="data/providers/MapperDetalleOrdenProveedor.xml"/>
        <mapper resource="data/providers/MapperPagosProveedor.xml"/>
        <mapper resource="data/material/inventory/MapperMaterialInventory.xml"/>
        <mapper resource="data/MapperEstadoEvento.xml"/>
        <mapper resource="data/MapperTipoEvento.xml"/>
        <mapper resource="data/MapperCustomer.xml"/>
        <mapper resource="data/MapperOrderTypeChanges.xml"/>
        <mapper resource="data/MapperOrderStatusChanges.xml"/>
        
    </mappers>
    
    
</configuration>
